<main>
  {{#each details}}
    <div>
      <form action="/" method="post">
        <p>{{timestamp}}</p>
        <p>Status: {{status}}</p>
        <p>Customer: {{customer}}</p>
        <p>Address: {{address}}</p>
        <p>Orders:</p>
        <ul>
          {{#each items}}
            <li><p>{{item.name}} - {{item.price}}</p><p>
                x
                {{quantity}}
                =
                {{total}}
              </p></li>
          {{/each}}
        </ul>
        {{#if driver}}<p>Driver: {{driver.name}}</p>{{/if}}
        <input type="text" value="{{_id}}" name="item" class="hidden" />
      </form>
    </div>
  {{/each}}
</main>