<main>
    <h1>{{details.status}}</h1>

    <div id="order-details">
        <h3>Order #{{details._id}}</h3>
        <p class="no-margin">{{details.timestamp}}</p>

        <h4>Customer</h4>
        <div>
            <p>{{details.customer}}</p>
            <p>{{details.address}}</p>
        </div>

        <h4>Driver</h4>
        <div>
            {{#if driver}}
            <p>{{driver.name}}</p>
            <p>{{driver.license}}</p>
            {{else}}
            <p>Waiting for a driver to accept</p>
            {{/if}}
        </div>

        {{#if details.imgFilename}}
        <h4>Proof of Delivery</h4>
        <div>
            <img src="/get-image/{{details.imgFilename}}" alt="Proof of Delivery" id="proof-of-delivery">
        </div>
        {{/if}}

        <h4>Order</h4>
        <table id="order-table">
            {{#each items}}
            <tr>
                <td>{{quantity}} x</td>
                <td>{{item.name}}</td>
            </tr>
            <tr>
                <td></td>
                <td>@ ${{item.price}}</td>
                <td><b>${{total}}</b></td>
            </tr>
            {{/each}}
            <tr>
                <td><b>TOTAL</b></td>
                <td></td>
                <td><b>${{total}}</b></td>
            </tr>
        </table>

        {{#if statusButtonReference.[3]}}
        <h4>Update Delivery Status</h4>
        <div>
            <form action="/orders/update-status" method="post">
                <input type="text" value="{{details._id}}" name="item" class="hidden" />
                {{#if statusButtonReference.[0]}}
                <button type="submit" value="0" name="status" class="black-white">RECEIVED</button>
                {{/if}}
                {{#if statusButtonReference.[1]}}
                <button type="submit" value="1" name="status" class="black-white">READY
                    FOR DELIVERY</button>
                {{/if}}
                {{#if statusButtonReference.[2]}}
                <button type="submit" value="2" name="status" class="black-white">IN TRANSIT</button>
                {{/if}}

                {{!-- <button type="submit" value="3" name="status" class="black-white">DELIVERED</button> --}}
            </form>
        </div>
        {{/if}}
    </div>
</main>