
<body>
    {{#if orderList}}
        {{#each orderList}}
            <form action="/delivered" method="post" enctype="multipart/form-data">
                <div style="display: flex; flex-direction: row; border: 1px solid #c06d6d; margin-bottom: 20px; padding: 10px;">
                        <div style="display: flex; flex-direction: column; width: 80%;">
                            <input type="hidden" name="orderId" value="{{id}}"/>
                            <div style="display:flex; flex-direction:row">
                                <h3>Order #</h3>
                                <h3>{{id}}</h3>
                            </div>
                            <div style="display:flex; flex-direction:row">
                                <p>Customer:&nbsp;</p>
                                <p>{{customer}}</p>
                            </div>
                            <div style="display:flex; flex-direction:row">
                                <p>Address:&nbsp;</p>
                                <p>{{address}}</p>
                            </div>
                            <div style="display:flex; flex-direction:row">
                                <p>Date:&nbsp;</p>
                                <p>{{date}}</p>
                            </div>
                            <div style="display:flex; flex-direction:row">
                                <p>Total Items:&nbsp;</p>
                                <p>{{totalItems}}</p>
                            </div>
                            <ul>
                                {{#each items}}
                                    <li>Item: {{name}}, Quantity: {{quantity}}</li>
                                {{/each}}
                            </ul>
                            {{#if imgFilename}}
                                <p style="color:#c06d6d">You have provided the evidence. Thank you.</p>
                            {{/if}}
                            <div style="display:flex; flex-direction: column; gap: 10px">
                                <label for="image">Upload delivery evidence:</label>
                                <input type="file" name="evidenceImage" required="true">
                                {{#if imgFilename}}
                                <img src="deliveryEvidence/{{imgFilename}}" width="100px" height="100px">
                                {{/if}}
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: column; width: 20%;justify-content: center;">
                            <button type="submit" style="height:20%">Re-submit</button>
                        </div>
                </div>
            </form>
        {{/each}}
    {{else}}
        <div style="display:flex; flex-direction:column; align-items:center">
            <h2>You didn't take any orders yet. Please take orders in the home page.</h2>
        </div>
    {{/if}}
</body>
