<main>
  <!-- Main Image heading section of Homepage-->
  <section id="main-header-section">
    <div id="main-banner-img">
      <img
        src="/images/food-pics/main-banner.jpg"
        alt="This is a image of platter"
        style="width: 100%; height: 750px"
      />
    </div>
    <div id="main-banner-info">
      <h1>Food Zone</h1>
      <p>Order your best food anytime, anywhere!</p>
      <a href="/add-order" id="btn-order-now">Order Now</a>
    </div>
  </section>

  {{! About Us Section }}
  <section id="about-us-section">
    <h2>About Us</h2>
    <div id="about-us-container">
      <img
        src="/images/food-pics/about-us.jpg"
        alt="about us img"
        style="width: 40%; height: 400px;"
      />
      <div id="about-us-detail">
        <p>Restaurant Location: <span>Toronto, Canada</span></p>
        <p>Days: <span>Monday to Sunday</span></p>
        <p>Hours: <span>10:00AM to 10:00PM</span></p>
      </div>
    </div>
  </section>

  {{! Featured Menu Section }}
  <section id="feature-menu-section">
    <h2>Our Featured Menu Items</h2>
    <div id="featureCardContainer">

      {{! Retrieving the featured menu items from db and showing them in homepage template }}
      {{! menu items will be featured if it's "featured: true" }}
      {{#each menuItem}}
        {{#if this.featured}}
          <div class="featureCard">
            <img
              src="/images/food-pics/{{this.image}}"
              alt="This is {{this.name}}"
              style="width: 200px; height:200px;"
            />
            <h2 class="featureMenuItem">{{this.name}}</h2>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </section>

  {{! Main Menu Section }}
  <section id="main-menu-section">
    <h2>Our Menu</h2>
    <div id="menuCardContainer">
      {{! Retrieving the menu items from db and showing them in homepage template }}
      {{! Looping menu items on menu card }}
      {{#each menuItem}}
        <div class="menuCard">
          <img
            src="/images/food-pics/{{this.image}}"
            alt="This is {{this.name}}"
            style="width:250px; height:250px;"
          />
          <div class="menuCardDetail">
            <h3>{{this.name}}</h3>
            <h4>Price: <span>$ {{this.price}}</span></h4>
            <p>{{this.description}}</p>
            <a href="/add-order/{{this._id}}" class="btn-add">Order Now</a>
          </div>
        </div>
      {{/each}}
    </div>
  </section>
</main>