<main>
    {{!-- Order form Page --}}

    <h1>Place your order</h1>

  {{!-- For showing error message --}}
  {{#if errMsg}}
    <h4 style="color: red; text-align: center;">{{errMsg}}</h4>
  {{/if}}
  
  {{!-- Order Form --}}
  <form action="/add-order" method="POST" class="form">
    <label for="customer">Name</label>
    <input type="text" name="customer" placeholder="Enter your name" />
    <br />
    <label for="address">Address</label>
    <input type="text" name="address" placeholder="Enter your address" />
    <br />
    <label for="items">Select Item</label>
    {{#each menuItem}}
    <div class="checkbox">
        <input type="checkbox" id="{{this._id}}" name="items[_id]" value="{{this._id}}" {{#if this.checked}} checked {{/if}}/>
        <label for="{{this._id}}">{{this.name}}</label><br />
    </div>
    {{/each}}
    <br />
    <button type="submit" id="btn-order" class="btn-form">Order</button>
  </form>
  <br /><br />
</main>