<main>
  <h4 style="color: green; text-align: center; font-size: 18px">Your Order is placed Successfully!</h4>

  <section class="form">
    <h3 style="color: #8d4004; font-size: 28px; margin: 0; padding-bottom: 15px">Your Receipt</h3>
    <p>Name: <span>{{orderReceiptDetails.customer}}</span></p>
    <p>Address: <span>{{orderReceiptDetails.address}}</span></p>
    <p>Ordered Items: </p>
        <ol style="margin: 0; color: #dd571c;">
            {{#each orderedItems}}
            <li>
                <span>{{this.name}} </span>
            </li>
            {{/each}}
        </ol>
    
    <p style="padding-top: 5px;">Total Amount: <span>${{orderTotal}}</span></p>
    <p>Order Confirmation Number: <span>{{orderReceiptDetails._id}}</span></p>
  </section>
</main>